:root {
  --font-color: bisque;
  --background-color: rgb(178, 199, 141);
  --border-color: rgb(122, 136, 99)
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  background: linear-gradient(to bottom,rgba(122,136,99,1), rgb(177, 199, 10), rgba(178,199,141,1), rgba(178,199,141,0));
}

p {
  font-size: 30px;
  border-radius: 2px;
  padding: 10px;
}

#goldenstate {
  font-size: 30px;
  background-color: rgba(178,199,141,0.5);
  border-radius: 2px;
  box-shadow: -5px -2px 3px var(--border-color);
  padding: 10px;
}

/* navigation bar */
.navbar {
  padding: 5px 15px;
  text-align: center;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
}

.menu ul li {
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--font-color);
  font-size: 24px;
}

.menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: bisque;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.menu ul li a:hover {
  transform: scale(1.5);
  color: goldenrod;
}

/* state of california intro */

.intro {
  background-image: url(../assets/redwoods4k.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-content img.logo {
  width: 250px;
  padding: 20px;
  float: left;
  
}

.section-content h1 {
  text-shadow: 10px 3px 10px black;
  font-family: serif;
  font-size: 120px;
  color: goldenrod;
}

.state-info {
  display: flex;
  align-items: center;
}

.state-info img.beach {
  width: 700px;
  height: auto;
  padding: 20px;
  float: right;
}

.state-info p {
  font-family: serif;
}

/* Places to Visit */
.city-header h1 {
  text-shadow: 1px 1px 1px goldenrod;
  font-family: serif;
  text-decoration: underline;
  font-size: 90px;
  padding: 1px;
}

.city-header p {
  font-style: italic;
}

.city-container {
  max-width: fit-content;
  margin: auto;
}

.city-header {
  text-align: center;
  margin-bottom: 30px;
}

.city-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.city-box {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  position: relative;
  margin: auto;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.city-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.city-content {
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  text-shadow: 5px 5px 10px black;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  width: 50%;
  z-index: 1;
}

#santacruz {
  background-image: url(../assets/santa\ cruz\ beach\ boardwalk.png);
}

#sacramento {
  background-image: url(../assets/sacramento\ bridge.jpg);
}

#sanjose {
  background-image: url(../assets/sanjosepark.jpg);
}

#sanfrancisco {
  background-image: url(../assets/sfbayarea.jpg);
}

/* FOOTER */
.footer {
  background: linear-gradient(to bottom, #b7123300, rgba(122,136,99,1));
  color: var(--font-color);
  text-shadow: 0 0 3px black;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer h2, .footer p, .footer table {
  margin-bottom: 20px;
}

.footer h2 {
  font-size: 35px;
}

.footer p {
  font-size: 20px;
}

.footer ul, .social-media ul {
  list-style: none;
  padding: 0;
}

.footer section {
  flex: 1 1 45%;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  border: 2px solid #BD8A5E;
  border-radius: 10px;
  background: transparent;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: var(--top-background);
  color: goldenrod;
}

.footer table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 20px;
  font-family: var(--font-family);
}

.footer caption, .footer th {
  font-weight: bold;
}

.footer p {
  padding-right: 20px;
}

.footer a {
  text-decoration: none;
  color: #ccc;
  transition: all 0.3s ease;
}

.footer a:hover {
  color: goldenrod;
  background-color: var(--border-color);
}

.footer caption {
  text-decoration: none;
  position: relative;
  left: -100px;
  padding-bottom: 20px;
}

.footer th, .footer td {
  padding-left: 20px;
  text-decoration: none;
}

.social-media {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding: 20px;
}

.social-media ul {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  width: 100%;
}

.social-media ul li {
  display: inline-block;
}

.social-media ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.social-media li img {
  width: 90px;
  height: 90px;
  transition: transform 0.5s ease;
}

.social-media li a:hover img {
  transform: scale(1.1);
}